
      <div class="div">
        <div class="div-2">
          <div class="accordion-NEW">
            <p class="non-posso-pi-fare-un">Quando comincia la copertura e quando finisce?</p>
            <img class="img" src="img/image.svg" />
          </div>
          <div class="accordion-NEW">
            <p class="non-posso-pi-fare-un">Quanto, quando e come devo pagare?</p>
            <img class="img" src="img/chevron-NEW-4.svg" />
          </div>
          <div class="accordion-NEW">
            <div class="non-posso-pi-fare-un">E se ci ripenso?</div>
            <img class="img" src="img/chevron-NEW-6.svg" />
          </div>
          <div class="accordion-NEW">
            <p class="non-posso-pi-fare-un">Come posso disdire la polizza?</p>
            <img class="img" src="img/chevron-NEW-2.svg" />
          </div>
        </div>
        <div class="div-2">
          <div class="accordion-NEW">
            <p class="non-posso-pi-fare-un">Cosa devo fare in caso di sinistro?</p>
            <img class="img" src="img/chevron-NEW.svg" />
          </div>
          <div class="accordion-NEW">
            <p class="non-posso-pi-fare-un">In quale forma è prestata l’assicurazione?</p>
            <img class="img" src="img/chevron-NEW-5.svg" />
          </div>
          <div class="accordion-NEW">
            <div class="non-posso-pi-fare-un">Cos’è la riparazione diretta?</div>
            <img class="img" src="img/chevron-NEW-7.svg" />
          </div>
          <div class="accordion-NEW">
            <p class="non-posso-pi-fare-un">Cosa si intende per estensioni di garanzia?</p>
            <img class="img" src="img/chevron-NEW-3.svg" />
          </div>
        </div>
      </div>
